* {
  margin: 0;
  padding: 0;
}

.header-color {
  color: #61dafb;
}

.font-color {
  color: white;
}

.default-bg-color {
  background-color: #282c34;
}

header,
body .error,
footer {
  display: flex;
  justify-items: center;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}

.header,
.footer {
  padding: 0.5em;
  min-height: 5vh;
  font-size: 30px;
}

.header button,
.footer button {
  cursor: pointer;
  background: none;
  color: inherit;
  border: white 1px solid;
  padding: 5px;
  border-radius: 10px;
  font-size: 30px;
}

body .product {
  padding: 1em;
}

body .product div {
  padding-top: 1em;
}
